/*Table*/
table, th, td {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 14px;
  padding:5px;
  padding-left: 10px;
  border: 2px solid black;
  border-collapse: collapse;
  color: #003366;
}

table, th, td strong{
  color: #00509e;
}

img{
  max-width: 600px;
  display:block;
  margin-bottom: 1rem;
}

img .logo{
  max-width: 200px;
  border-radius: 100px;
}



